.about-us {
  padding: 100px 0;
  background-color: #F2EAE8;

  h2 {
    font-size: 90px;
    font-weight: bold;
    color: #000;
    margin-bottom: 52px;
  }

  p {
    font-size: 20px;
    font-weight: normal;
    color: #000;
  }
}