.hero {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  @include flexcenter;

  &-button {
    background: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
    margin-top: 98px;

    a {
      display: inline-block;
      background-color: #44B72C;
      color: #ffffff;
      padding: 11px 81px;
      border-radius: 30px;
      text-decoration: none;
      font-size: 20px;
      font-weight: 700;
      transition: all 0.3s ease;
      
      &:hover {
        background-color: #44B72C;
        transform: translateY(-2px);
      }
    }
  }
}