.our-team {
  padding: 100px 0;
  background-color: #0E2841;

  h2 {
    font-size: 96px;
    font-weight: bold;
    color: #F2EAE8;
    margin-bottom: 63px;
    font-family: 'Montserrat', sans-serif;
    line-height: 100px;
  }

  .our-team-description {
    font-size: 24px;
    font-weight: bold;
    color: #F2EAE8;
    margin-bottom: 29px;
  }
  
  .our-team-text {
    font-size: 20px;
    font-weight: normal;
    color: #F2EAE8;
    margin-bottom: 0;
    line-height: 32px;
  }
}