.sectors {
  padding: 140px 0;
  background-color: #135339;
  padding-top: 140px;

  h2 {
    font-size: 96px;
    font-weight: bold;
    color: #F2EAE8;
    margin-bottom: 17px;
    @include media-breakpoint-down(lg) {
      font-size: 72px;
      line-height: 80px;
    }
    @include media-breakpoint-down(md) {
      font-size: 56px;
      line-height: 56px;
    }
  }
}

.sector-desription {
  font-size: 24px;
  font-weight: bold;
  color: #FFFF;
}

.sector-text {
  font-size: 20px;
  font-weight: bold;
  color: #FFFF;
}

.sector-icon-description {
  font-size: 16px;
  font-weight: bold;
  color: #FFFF;
  line-height: 18px;
  span {
    white-space: nowrap;
    color: #FFFF;
    font-size: 16px;
    font-weight: bold;
    line-height: 18px;
  }
}

.sectors-icons-wrapper {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 90px;
  @include media-breakpoint-down(lg) {
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
  }
  @include media-breakpoint-down(md) {
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
  
}