.sectors {
  padding: 140px 0;
  background-color: #135339;
  padding-top: 140px;

  h2 {
    font-size: 96px;
    font-weight: bold;
    color: #F2EAE8;
    margin-bottom: 17px;
  }
}

.sector-desription {
  font-size: 24px;
  font-weight: bold;
  color: #FFFF;
}

.sector-text {
  font-size: 20px;
  font-weight: bold;
  color: #FFFF;
}

.sector-icon-description {
  font-size: 16px;
  font-weight: normal;
  color: #FFFF;
  line-height: 18px;
}

.sector-icon-item {
  width: 112px;
  height: 112px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 10px;
  margin-top: 52px;  
}