.sectors {
  padding: 140px 0;
  background-color: #135339;

  h2 {
    font-size: 96px;
    font-weight: bold;
    color: #F2EAE8;
    margin-bottom: 17px;
  }
}

.sector-desription {
  font-size: 24px;
  font-weight: bold;
  color: #FFFF;
}

.sector-text {
  font-size: 20px;
  font-weight: bold;
  color: #FFFF;
}