.solutions {
  background-color: #F2EAE8;
  padding-top: 130px;
  padding-bottom: 120px;

  h2 {
    font-size: 96px;
    font-weight: bold;
    color: #0E2841;
    font-family: 'Montserrat', sans-serif;
    @include media-breakpoint-down(lg) {
      font-size: 72px;
      line-height: 80px;
    }
    @include media-breakpoint-down(md) {
      font-size: 56px;
      line-height: 56px;
    }
  }

  .solutions-icons-wrapper {
    margin-top: 2rem;
  }

  .solution-icon-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2rem;
    text-align: center;
  }

  .solution-icon-image-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
  }

  .solution-icon {
    max-width: 100%;
    height: auto;
  }

  .solution-icon-title {
    font-size: 1.25rem;
    margin: 0;
  }

  .solutions-description {
    font-size: 24px;
    font-weight: bold;
    color: #0E2841;
    font-family: 'Montserrat', sans-serif;
    span {
      color: #44B72C;
    }
  }

  .solutions-box-dialog {
    font-size: 36px;
    font-weight: bold;
    color: #FFFF;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    span {
      color: #8ED973;
    }
  }

  .solutions-box-dialog-wrapper {
    background-color: #0E2841;
    margin-bottom: 27px;
    padding: 20px 30px;
    overflow: hidden;
    display: flex;
    align-items: center;
    min-height: 48px;
  }

  .solutions-logo-title {
    font-size: 32px;
    font-weight: bold;
    color: #0E2841;
  }

}