.strategy {
  background-color: #F2EAE8;
  padding: 119px 0;

  h2 {
    font-size: 96px;
    font-weight: bold;
    color: #0E2841;
    margin-bottom: 48px;
  }
}

.strategy-text {
  font-size: 20px;
  font-weight: bold;
  color: #0E2841;
  margin-bottom: 48px;
}

.strategy-strong-text {
  font-size: 32px;
  font-weight: bold;
  color: #0E2841;
}