.we-are-boldt {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 150px 0px;

  h2 {
    font-size: 96px;
    font-weight: bold;
    color: #FFFFFF;
    margin-bottom: 26px;
    font-family: 'Montserrat', sans-serif;
    line-height: 1.3;
    @include media-breakpoint-down(lg) {
      font-size: 91px;
      line-height: 96px;
    }
    @include media-breakpoint-down(md) {
      font-size: 86px;
      line-height: 90px;
    }
  }
}

.we-are-boldt-text {
  font-size: 24px;
  font-weight: normal;
  color: #FFFFFF;
}

.we-are-boldt-description {
  font-size: 20px;
  font-weight: bold;
  color: #FFFFFF;
}