* {
	box-sizing: border-box;
}
html {
	scroll-behavior: smooth;
}
body {
	font-family: $font;
	font-size: $basesize;
	line-height: 1.5;
	color: c(default);
	background-color: white;
	max-width: 100vw;
	overflow-x: hidden;
	&::before {
		content: "xs";
		display: none;
		@include media-breakpoint-up(md) {
			content: "md";
		}
		@include media-breakpoint-up(lg) {
			content: "lg";
		}
		@include media-breakpoint-up(xl) {
			content: "xl";
		}
		@include media-breakpoint-up(xxl) {
			content: "xxl";
		}
	}
}
main {
	min-height: calc(100vh - 300px);
}
h1,
h2,
h3,
h4 {
	font-family: $font;
	line-height: 1;
}
em {
	font-style: italic;
}
strong {
	font-weight: bold;
}
a {
	color: c(primary);
	text-decoration: none;
	&:hover,
	&:focus {
		color: inherit;
	}
	&:focus,
	&:active {
		text-decoration: none;
	}
}
p {
	margin-bottom: 1em;
}


button,
input,
input[type="text"],
input[type="email"],
input[type="tel"],
input[type="submit"],
select,
textarea {
	font-family: $font;
	font-weight: w(regular);
	background: white;
	border: none;
	outline: none;
	padding: 10px 15px;
	border-radius: 5px;
	border: 1px solid c(default);
	@include transition;
}
input[type="submit"] {
	width: initial;
	cursor: pointer;
}
textarea {
	height: 5em;
}


img {
	max-width: 100%;
	height: auto;
}

::selection {
	background-color: c(primary);
	color: white;
}
::-webkit-input-placeholder {
	color: c(default);
}
:-ms-input-placeholder {
	color: c(default);
}
::placeholder {
	color: c(default);
}
