footer.site-footer {
	background: black;
	height: 369px;
	
	.custom-logo {
		object-fit: contain;
	}
}

.logo-description {
	font-size: 20px;
	color: #FFFFFF;
	font-weight: bold;
}

.contact-info-title {
	font-size: 32px;
	color: #FFFFFF;
	font-weight: bold;
	margin-bottom: 40px;
}

.contact-info {
	font-size: 16px;
	color: #FFFFFF;
	font-weight: bold;
	text-decoration: underline;

	a {
		color: #FFFFFF;
		text-decoration: underline;
		font-weight: bold;
		transition: color 0.3s ease;
		
		&:hover {
			color: #199c19;
		}
	}
}

.contact-we-are-here {
	font-size: 16px;
	color: #FFFFFF;
	font-weight: regular;
}

.footer-divider {
	border: none;
	border-top: 1px solid #FFFFFF;
	margin: 40px auto;
	width: 100%;
	max-width: 1200px;
}

.footer-copyright {
	text-align: center;
}
