.sidebar {
  height: 100%;
  width: 390px; /* Largura definida pelo usuário */
  position: fixed;
  top: 0;
  right: -390px; /* Esconde a sidebar inicialmente */
  background-color: #f1f1f1;
  overflow-x: hidden;
  transition: right 0.3s ease-in-out; /* Transição suave para abrir e fechar */
  padding-top: 60px;
  box-shadow: -2px 0 5px rgba(0,0,0,0.2);
  z-index: 1000;
}

.sidebar.open {
  right: 0; /* Mostra a sidebar */
}

.sidebar .close-btn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
  background: none;
  border: none;
  cursor: pointer;
  color: #333;
}

.sidebar h2,
.sidebar p {
  padding: 0 25px;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
  display: none; /* Esconde o overlay inicialmente */
}

.overlay.active {
  display: block; /* Mostra o overlay quando a sidebar está aberta */
}

.contato {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  margin: 20px;
}