#masthead {
  .custom-logo {
    display: block;
  }
  .menu-item {
    position: relative;
    & > a {
      padding-bottom: 10px;
      margin-bottom: -10px;
    }
  }
  .mobile-nav {
    position: fixed;
    height: 0;
    z-index: 10;
    background-color: white;
    @include transition;
    &.is-active {
      height: 100vh;
    }
    .menu-item {
      margin-bottom: 10px;
      font-weight: w(light);
      font-size: 24px;
      line-height: 1.6;
      position: relative;
      &.current-menu-item a {
        font-weight: w(medium);
      }
      a {
        color: #262626;
      }
    }
  }
}
